header{
  margin-top:0%;
  border-bottom: 3px solid #eee;
  background: #fff;
  position:fixed;
  width:100%;
  float:left;
}
header:after{`
  display: block;
  content: "";
  clear: both;
}
.basket ul{
  padding: 0;
  margin-top: 100px;
}
.basket li{
  display: inline-block;
  list-style-type: none;
  width: 30%;
  margin: 30px 1.5%;
  text-align: center;
  float:left;
}
.basket button{
  border-radius: 10px;
  cursor: pointer;
}
.basket header div{
  float: right;
  position: relative;
  z-index: 1;
}
.zoom{
    position:absolute;
    top:40px;
    right:50%;
    width:100px;
    height:100px;
    opacity:0;
    animation:zoom 0.3s ease forwards;
}

@keyframes zoom{
0%{opacity:0}
50%{opacity:1}
100%{opacity:0; right:80px;}
}
.location
{
    line-height: 20px;
	margin-left:980px;
	float:right;
	width:200px;
}
.signin
{
    line-height: 20px;
	margin-left:700px;
	float:right;
	width:100px;
}
